<!DOCTYPE html>
<html>
<head>
  <title>MonaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>MONA App</h1>

  <nav>
    <!-- <a href="/">Home</a> -->
    <%= link_to "Home", "/" %> |
    <%= link_to "About", "/about" %> |
    <%= link_to "All Artists", "/artists" %> |
    <%= link_to "Create Artist", "/artists/new" %>
  </nav>

  <%= yield %>

</body>
</html>
