<h3>Artist: <%= @artist.name %></h3>

<%= image_tag @artist.image %>

<ul>
  <li>Nationality: <%= @artist.nationality %></li>
  <li>Date of birth: <%= @artist.dob.strftime( "%A, %B %e, %Y" ) %></li>
  <li>Period: <%= @artist.period %></li>
</ul>

<div class="controls">
  <%= link_to "Edit Artist", "/artists/#{@artist.id}/edit" %>
  <%= link_to "Delete Artist", "/artists/#{@artist.id}", :method => :delete, :data => { :confirm => "Are you sure?" } %>
</div>

<h5>Works</h5>

<!-- List of associated works -->
<% @artist.works.each do |w| %>
  <p>
    <%= link_to( w.title, work_path(w) ) %>
  </p>
<% end %>
