<p id="notice"><%= notice %></p>




  <%= image_tag(@user.image, :class => "valign") %>
  <p> <%= @user.address %> </p>
  <p> <%= @user.longitude %> </p>
  <p> <%= @user.latitude %> </p>


<div id="map">


</div>
